{
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "env": {
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 8
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/no-unassigned-import": 0,
    "semi": ["error", "always"],
    "no-console": "off",
    "vue/max-attributes-per-line": 0
  }
}
