# dependencies
node_modules

# environment variables
.env

# IDE
.idea
.awcache

# logs
logs

# misc
.DS_Store
npm-debug.log

# tests
coverage
.nyc_output

# built files
build
dist
server/nuxt
server/build

# uploads
client/static/uploads/*
!client/static/uploads/.gitkeep
