# dependencies
/node_modules

# environment variables
.env

# IDE
/.idea
/.awcache

# logs
!logs/.gitkeep
logs

# misc
.DS_Store
npm-debug.log

# example
/quick-start

# tests
/coverage
/.nyc_output

# dist
/dist
